$glitter: #f5f5f5;
$charlston-green: #2a2e30;
$blue-shappire: #136176;

$primary: $blue-shappire;
$secondary: $glitter;
$text: $charlston-green;

$max-width: 1440px;

$padding-small: 1.5rem;
$padding-large: 2rem;
$padding-btn: 14px 48px;
$padding-btn-small: 12px 40px;

$margin-auto: 0 auto;
$margin-small: 1rem;
$margin-large: 2rem;
